#join-btn {
  font-size: 16px;
  margin-top: 10px;
}

#bookBtn{
  cursor: pointer;
}
#doctr-img {
  width: 500px;

}
#customer-img {
  width: 280px;
}
#icons{
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
#icons:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#image-container {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


